.comments-block{
    display: flex;
    justify-content: space-around;
    margin-bottom: 50px;
}
.comments-block-item{
    border: 1px solid black;
    border-radius: 20px;
    text-align: center;
    width: 350px;
    padding: 13px;
}
.comments-block-item-img{
    height: 200px;
    border-radius: 20px;
}
.comments-block-item-date{
    color: rgb(175, 175, 175);
    font-size: 15px;
}