.more-info-block-header{
    margin-top: 50px;
}
.more-info-block-color{
    color: red;
}
.more-info-block-images{
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
}
.more-info-block-img{
    height: 320px;
    width: 400px;
}
.more-info-block-img-pic{
    height: 421px;
    width: 537px;
}